doctype html
html
  head
    title  Nicky's dance academy
    block scripts
    block style 
  body
    nav#navbar
      ul
        //- div#logo
        //-   img(src="/static/pics/logo.png")
        //-     |NDA   solve this
        li #[a(href="/") home] 
        li #[a(href="/") about]
        li #[a(href="/") sevices]
        li #[a(href="/") class info]
        li #[a(href="/contact") contact us]
    block content
    footer#footer 
        | Copyright © 2019 NickyAcademy.com | All Rights Reserved 