//- index.pug
doctype html
html
  head
    title Nicky's dance academy
    style
      include ../static/style.css
  body
    nav#navbar
      ul
        //- div#logo
        //-   img(src="/static/pics/logo.png")
        //-     |NDA   solve this
        li #[a(href="/") home] 
        li #[a(href="/") about]
        li #[a(href="/") sevices]
        li #[a(href="/") class info]
        li #[a(href="/") contact us]
     
    section#introsection
        div WElCOME TO NICKY'S DANCE ACADEMY
        div.small LIVE ,LEARN, DANCE, REPEAT
    section#missionsection
        h2 OUR MISSION 
        div.card
            h3 DANCE PERFECTION
            div.card-box
                div.card-img
                    img(src="/static/pics/1.png")
                div.card-content
                    p This is the best dance academy of the universe
 
        div.card
            h3 DANCE THE WAY YOU LIKE
            div.card-box
                div.card-img
                    img(src="/static/pics/2.png")
                div.card-content
                    p This is the best dance academy of the universe     
        div.card
            h3 EXPERT TEACHING
            div.card-box
                div.card-img
                    img(src="/static/pics/3.png")
                div.card-content
                    p This is the best dance academy of the universe
    section#sponsersSection
          h2 OUR SPONSERS
          div#sponsers
                img(src= "/static/pics/lg1.png", alt= "Sponsor Image", class= "spImage")
                img(src= "/static/pics/lg2.png", alt= "Sponsor Image", class= "spImage")
                img(src= "/static/pics/lg3.png", alt= "Sponsor Image", class= "spImage")
                
                
    footer#footer 
        | Copyright © 2019 NickyAcademy.com | All Rights Reserved      
    script
      include ../static/index.js